html {
    font-family: Roboto,sans-serif;
    color: #a8a8b3;
  
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    list-style: none;
  }
  
  img{
    height: auto;
    max-width: 100%;
  } 
  
  .styles_section__1mzs- {
    
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(270deg,#09090a,#121214);
  }
  
  .styles-container_Ot6kq{
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .styles-container_3kl9g{
  
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  
  .styles_subtitle__1hPHs {
    font-weight: 700;
    color: #e1e1e6;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    
  }
  
  .styles_cardHeadline__1gLdI {
    -webkit-align-items: unset;
    -moz-box-align: unset;
    align-items: unset;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    display: flex;
    margin-bottom: 16px;
    color: #e1e1e6;
  }
  
  @media (min-width: 768px){
    .styles_icon__1PwxR {
      width: 48px;
      height: 48px;
    }
  }
  
  @media (min-width: 320px){
    .styles_icon__1PwxR {
      margin-right: 24px;
      margin-bottom: 16px;
  
    }
  }
  
  @media (min-width: 768px){
    .styles_subtitle__3hpZb {
      width: 356px;
      font-size: 28px;
      line-height: 38px;
    }
  }
  
  @media (min-width: 320px){
    .styles_subtitle__3hpZb {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 0;
    }
  }
  
  .styles_subtitle__3hpZb {
    font-weight: 700;
    color: #e1e1e6;
    
  }
  
  .styles_paragraph__FY1ig {
    font-weight: 400;
    color: #e1e1e6;
    font-size: var(16px);
  }
  
  @media (min-width: 576px){
    .styles_paragraph__FY1ig {
      line-height: 26px;
    }
  }
  
  .styles_description__kf5VW {
    color: #a8a8b3;
  }
    